@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.titleContainer{
    max-width: 300px;
}

i{
    border-radius: 20px;
    color: #4c5c18;
    padding: 3px 7px;
    box-shadow:0 0 10px rgba(168, 141, 7, 0.95) ;
    opacity: 0.3;
    margin-bottom: 10px;
    float: right;
    margin-right: 10px;
}

i:hover{
    opacity: 0.9;
}

i:active{
    opacity: 0.9;
    box-shadow:0 0 15px #4c5c18 ;
}

.textContainer{
    max-width: 300px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(168, 141, 7, 0.95);
    color:#4c5c18;
    padding: 5px 5px 10px 13px;
    margin: 0 10px 0 5px;
    font-family: Gabriela;
    background-color: #ffffff;
}

.title{
    margin-bottom: 20px;
    margin-left: 15px;
    font-family: Gabriela;
    font-weight: bold;
    color: #4c5c18;
    display: block;
    clear: both;
    text-shadow: 0 0 10px #ffffff;
}