@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.sidebar {
    width: 90px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.link {
    transition-duration: .3s;
    border: dimgray solid 1px;
    margin: 2px 5px ;
    box-shadow: 0 0 5px rgba(4, 41, 247, 0.36);
    border-radius: 7px;
    background-color: #f7f7f7;
    padding-left: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    color: #006cbe;
    font-family: Gabriela;
}


.link:hover{
    transition-duration: .3s;
    background-color: #224b7a;
    text-decoration: none;
    color: #ffffff;
}

.active{
    background-color: #224b7a;
    text-decoration: none;
    color: #ffffff;
}

