@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.sidebar {
    width: 90px;
    display: flex;
    flex-direction: column;
}

.link {
    transition-duration: .3s;
    border:  #4c5c18 solid 1px;
    margin: 3px 5px ;
    box-shadow: 0 0 5px rgba(111, 93, 7, 0.95);
    border-radius: 7px;
    background-color: #f7f7f7;
    padding: 8px 5px 10px 5px;
    font-weight: bold;
    color:  #4c5c18;
    font-family: Gabriela;
}


.link:hover{
    transition-duration: .3s;
    background: linear-gradient(#ffffff, #4c5c18,#4c5c18,#4c5c18,#4c5c18, #ffffff);
    text-decoration: none;
    color: #ffffff;
}

.active{
    background: linear-gradient(#ffffff, #4c5c18,#4c5c18,#4c5c18,#4c5c18, #ffffff);
    text-decoration: none;
    color: #ffffff;
}

